@import './app.css';
img {
    max-width: 100%;
}

form {
    margin: 1rem;
    padding: 1dp;
}

.updatebox {
    max-width: 200dpi;
    margin: auto;
    padding: 20px;
}

.slide {
    background-color: #f1f1f1;
    padding: 5px;
}


.Title_web {
    color: rgb(252, 62, 36);
    font-size: 25px;
    text-transform: uppercase;
}

.sign {
    position: relative;
    top: 3px;
    height: calc(100% - 10px);
}

.sign #login{
    color: #afafaf;
}

.form + #target {
    color :#ff802b;
}

.footer {
    height: 50px;
    padding: 1em;
    background-color:rgb(193, 193, 194);
    margin: auto;
    text-align: center;
}

.view_blog {
    height: 100%;
    text-align: left;
    color:cadetblue;
    background-color:#ffffff;
    background-color: white;
}

#title_blog {
    display:inline-block;
}

#author_blog {
    color: #181818;
    text-align:right;
}

.user{
    display: inline;
    color: red;
}

.header{
    background-color: #000000;
    height: 30px;
    text-align: center;
    overflow: hidden;
}

.navmenu ul * {
    color: #e7eeff;

    margin: 5px;
    font-size: 15px;
    display: inline-block;
    text-decoration: none;
}

@media only screen and (max-width: 650px) {

    .view_blog {
        height: 100%;
        text-align: left;
        background-color:#ffffff;
        background-color: white;
    }

    #logout {
        visibility: hidden;
    }

    .Title_web {
        color: rgb(252, 62, 36);
        font-size: 15px;
        text-transform: uppercase;
        width: 70%;
    }

    .sign{
        color: aliceblue;
        width: 20%;
    }
    .navmenu ul * {
      visibility: hidden;
    }
}


#logout a{
    color: aliceblue;
    margin-left: 10px;
}

#username {
    color :#ff802b;
    text-decoration: none;
    font-size: 20px;
}

#header {
    color: rgb(26, 26, 26);
    font-size: 30px;
    margin: 10px 10px;
    border-bottom: rgb(190, 190, 190) 1px solid;
}

#contend {
    color: rgb(49, 49, 49);
    font-size: 15px;
    margin: 10px 10px;
    border-bottom: rgb(190, 190, 190) 1px solid;
}

.error {
    display: block;
    color: red;
}

.category .card {
    padding: 1rem 0;
}


.category .card .card-body {
    padding: 10px;
}

.category .card .card-title {
    min-height: 50px;
}