{% extends '/layout/base.html.twig' %}

{% block title %} index {% endblock %}

{% block body %}
<div class='row'>
    <div class="col-9">
        {% for blog in list %}
        <div class="col-4">
            <div>
                <a href = {{ "/blog/"~ blog.getId() }} > 
                <div class="card col-12">
                    <img class="image col-12" src='/static/download.jpeg' />
                    <div class="body-card">
                        <span id="title_blog">{{ blog.getTitle() }}</span> <br/>
                        <span id="author_blog"> 
                            {{ "write by "~ blog.getAuthor() }}
                        </span>
                    </div>
                </div>  
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <div class="col-3">
        <img class="image col-12 " src="/static/qc.jpeg" alt="quảng cáo"/>
        <span> quảng cáo </span>
    </div>
</div>
    

{% endblock %}