<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <p>Active users</p>
        
        {# {{ dump(users) }} #}

        <ul>
            {% for user in users if user.active %}
                <li>{{ user.name }}</li>
            {% else %}
                <li>No users found</li>
            {% endfor %}
        </ul>
    </body>
</html>