@import './reset.css';


.row {
    display: flex;
}

.container {
    color: whitesmoke;
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
}

.updatebox {
    max-width: 200dpi;
    margin: auto;
    padding: 20px;
    width: 40em;

}

.body {
    color: black;
    margin-left: 3em;
    margin-right: 3em;
    min-height: cal c(80vh - 70px);
    flex: 80%;
}

.card {
    border: 1px solid #ccc;
    border-radius : 3px;
    display:inline-block;
    width: 10em;
    height: 8em;
    background-color:whitesmoke;
    padding: 1em;
    margin: 1em;
    overflow:hidden;
}

.card:hover {
    background-color:rgb(99, 99, 99);
}

.slide {
    flex: 20%;
    background-color: #f1f1f1;
    padding: 20px;
}

.btn {
    background-color: beige;
    padding: 5px 7px;
    border: 1px solid #ccc;
}
.btn:hover {
    border-color: red;
}


.Title_web {
    color: rgb(252, 62, 36);
    float: left;
    padding: 10px 15px;
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
}

.sign {
    float: right;
    height: 50px;
    padding: 10px 20px;
    vertical-align: middle;
    line-height: 50px;
}

.login {
    width: 50px;
}

.form {
    color: black;
}

.footer {
    height: 50px;
    padding: 1em;
    background-color:rgb(193, 193, 194);
    margin: auto;
    text-align: center;
}

.view_blog {
    height: 100%;
    text-align: center;
    color:cadetblue;
    background-color:#ffffff;
    flex: 80%;
    background-color: white;
    padding: 10px;
}

.card #title_blog {

    text-align:center;
}

#author_blog {
    text-align:right;
}

.user{
    display: inline;
    color: red;
}

.header{
    background-color: #192e5e;
    height: 50px;
    text-align: center;
    overflow: hidden;
}

.header a:link{
    color: #c73131 ;
}

.navmenu ul li{
    float: left;
    font-size: 1em;
    padding: 15px 10px;
    display: inline-block;
}

li a {
    text-decoration: none;
    background-color: #0f0547;
    padding: 15px 25px;
}

#logout a{
    color: aliceblue;
    margin-left: 10px;
    text-decoration: none;
}

#username {
    text-decoration: none;
    font-size: 20px;
}

#header {
    font-size: 30px;
    border-bottom: rgb(190, 190, 190) 1px solid;
}

#contend {
    font-size: 20px;
    margin: 3px 3px;
    border-bottom: rgb(190, 190, 190) 1px solid;
}