<html>
<head>
    <link rel="stylesheet"  href="/static/font.css" >
    <link rel="stylesheet" href="/static/style.css">

    <script src="/static/jquery.min.js"></script>
    <script src='https://jqueryvalidation.org/files/lib/jquery-1.11.1.js' > </script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.js"></script>

    
</head>
<body>
    <header class="header">
        <div class='row'>
            <a class="col-3" href="/blogs"> <span class='Title_web'>Trung blog </span> </a> 
            <div class="navmenu col-5">
                <ul>
                    {% set user = App.session.getUser() %}
                    {% if user %}
                        <li><a href=/blog>viết bài</a></li>
                    {% endif %}
                    <li><a href=/blogs> tác giả </a></li>
                    <li><a href=/blogs>tìm kiếm</a></li>
                </ul>
            </div>
            <div class='sign col-4'>  
                {% set user = App.session.getUser() %}
                {% if user %}
                    {# {{dump(user)}} #}
                    <span id="user">
                        <a id='username' href='/author/update' > {{ user.getNickname() }}</a>
                    </span>
                    <span  id="logout">
                        <a href='/author/logout' >đăng xuất  </a>
                    </span>
                {% else %}
                    <a id='login' href="/author"> Đăng nhập </a>
                {% endif %}
            </div>
        </div>
    </header>